.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Times";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(255, 239, 213);
}

.text-field {
    -fx-font-weight: bold;
    -fx-effect: innershadow(three-pass-box, pink, 12 , 0.5, 1, 1);
}
/* for MenuButton, ComboBox, etc. */
.label {
    -fx-font-family: Veranda;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.text-area {
    -fx-text-fill: black;
    -fx-background-color: #dcdcdc;
    -fx-font-family: Veranda;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

.button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-size: 20;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.hbox {
    -fx-alignment: center;
}

.grid {
    -fx-background-color: green;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

